.wallet{
    width: 355.41px;
    height: 181px;
    gap: 0px;
    border-radius:10px;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color:#9B9B9B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    
    visibility: visible;
    
    z-index: 1;
    
}
.text{
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.47px;
    text-align: left;
    color: #FFFFFF;


}
.text span{
    color:greenyellow;

}

.text-expense{
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.47px;
    text-align: left;
    color: #FFFFFF;


}
.text-expense span{
    color:orange;
}



.wallet-button{
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
    width: 167.65px;
    height: 38px;
    opacity: 0px;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.38px;
}