.container{
    display: flex;

}
.income{
    width:217px;
    height:49px;
    border-radius: 15px;
    margin-right: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    background-color: #FBFBFB;

}

.add{
    height:51px;
    width:151px;
    color:white;
    border: none;
    border-radius: 15px;
    background-color: #F4BB4A;
    margin-right: 8px;

}
.cancel{
    height:51px;
    width:112px;
    border:none;
    border-radius: 15px;
    color:black;
    box-shadow: 0px 4px 4px 0px #00000040;

}