.expenseTracker{
    background-color: #626262;
    width:1211px;
    height:269px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .expense {
      flex-direction: column;
    }

    .wallet, .expense-chart, .recent-transactions, .top-expenses {
        width: 100%;
      }
}